.form-control{
    border-radius: 3px;
    width: 550px;
    margin-left: 20px;
}
.navbar{
    color: white;
    background-color: rgb(19, 50, 78);
}

#icons{
    width: 40px;
    margin-left: 10px;
}